
/* Some general styles for the body of a page,
   background color, font size,...
*/
body {
    background: azure;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Begin specification of the banner and navigation
   menu to appear at the top of every page.
   Use the image dots.svg as background, repeating
   it if necessary to stretch across the page.
   
   To change the background, just create a different
   image in Inkscape and substitute its name for
   dots.svg below. (The new image must be placed in
   the static directory.)
*/
div.header {
    background: url(waves.svg) repeat-x center top;
    height: 285px;
}

/* Position the navigation menu at the top left corner
   and specify its background color.
*/
div.header ul.navigation {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    background: green;
}

/* The next two blocks specify the position of the 
   list of pages which appear in the navigation menu.
   There is a bit of trickery here. Don't mess with
   the 28px!important; lines.
*/
div.header ul.navigation li {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px!important;
    height: 28px!important;
}

div.header ul.navigation li a {
    display: block;
    border: 0 solid transparent;
    border-left-width: 14px;
    border-right-width: 14px;
    line-height: 28px!important;
    height: 28px!important;
    color: white;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.5px;
}

/* The next two blocks specify the positon of the
   logo and the image to use for it. To change
   the logo, just create a new one in Inkscape
   and substitute its name for raspberry.svg
   below. (The new image must be in the static
   directory.)
*/
div.banner {
    height: 250px;
}

div.banner div.logo {
    background: url(chlo.svg) no-repeat;
    height: 220px;
    margin: auto;
    width: 660px;
    height: 220px;
}


/* A few general purpose blocks which can be
   changed any way you like. Experimenting
   with the text-shadow and its margin can
   become a huge time suck if you are bored.
*/

h1, h2, h3, h4, h5 {
    color: blue;
    padding: 3px 10px 0 10px;
    border-bottom: 1px dotted limegreen;
    text-shadow: 2px 2px 1px limegreen;
    margin: 25px -20px 20px -20px;

}


h1 {
    margin-top: 0;
}

div.body {
    margin: 0 auto;
    padding: 10px 0;
    width: 700px;
    background: azure;
}


