{% extends "layout.html" %}

{% block content %}

<h1>CriCut</h1>

<p>A brief description of CriCut hardware and capabilities might be here.</p>

<p>There would be an area in which 2D designers could drag and drop files to be processed by CriCut. The area would require a login of course. This is just a mockup.</p>

<center><img src="static/upload.svg"/></center>

<p>There would also be an area in which we could see the CriCut jobs in action. It would be livestreamed via a Pi Camera pointed at the device. This will be exciting.</p>

<center><img src="static/cricut.svg"/></center>

{% endblock %}
