{% extends "layout.html" %}

{% block content %}

<h1>Resources we used</h1>
<ul>
  <li><a href="https://www.raspberrypi.org/learning/python-web-server-with-flask/worksheet/"/> Build a website with Flask</a></li> 
  <li><a href="https://www.raspberrypi.org/learning/turtle-snowflakes/" /> Make Snowflakes with Python Turtle</a></li>
 <li><a href="https://www.raspberrypi.org/learning/minecraft-photobooth/worksheet/" /> Minecraft Photobooth</a></li>
  <li><a  href="https://www.youtube.com/channel/UCNaPQ5uLX5iIEHUCLmfAgKg" /> Best videos ever for learning Python!</a></li>

{% endblock %}
